<head>
  <link rel="stylesheet" type="text/css" href="index.css" />
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="animations.css">
</head>

<body>
  <center>
    <form action="/names" method ="post">
      <br>
        <div id="badge" class="floating">
          <img src="https://upload.wikimedia.org/wikipedia/en/7/72/AdventureTimeBattlePartyLogo.png"/>
        </div>
      <br>
      <br>
      <label for="player_1_name" id="name_label">PLAYER 1</label >
      <input type="text" id="player_1_name" name="player_1_name" >
      <label for="player_2_name" id="name_label">PLAYER 2</label>
      <input type="text" id="player_2_name" name="player_2_name">
      <br>
      <br>
      <br>
      <br>
      <input type="submit" value="START" style="color: red;">
    </form>
  </center>
</body>
