
body {
  background-image: url(https://images.alphacoders.com/213/213443.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-color: #000000;*/

}
input[type=submit] {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Amatic SC;
  color: #f52929;
  font-size: 38px;
  background: #f5ed51;
  padding: 10px 20px 10px 20px;

}

input[type=submit]:hover {
  background: #fccc3c;

}

h1 {
  font-family: Amatic SC;
  color: #f52929;
  font-size: 65px;
}

h4 {
  font-family: Amatic SC;
  color: #f5ed51;
  font-size: 25px;
}
