
body {
  background-image: url(https://images.alphacoders.com/213/213443.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-color: #000000;*/
}
input[type=submit] {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Architects Daughter;
  color: #f52929;
  font-size: 38px;
  background: #f5ed51;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

input[type=submit]:hover {
  background: #fccc3c;
  text-decoration: none;
}

label[id=name_label] {
  font-family: Architects Daughter;
  font-size: 30;
  color: #f52929
}
